.g-content
  %section.g-section.g-main.g-main_animated
    .g-wrapper
      %h2.g-main__top=@event.try(:event_type)
      %h1.g-main__title=@event.try(:title)
      %h3.g-main__subtitle=@event.try(:subtitle)
    %h3.g-main__bottom-text
      =@event.try(:date)
      в 
      ="#{@start_time} - #{@end_time}, #{@event.try(:place)}"
  %section.g-section.g-description
    .g-wrapper.js-animation.js-animation_tablet.js-animation_fadeInDown{"data-animation-delay" => "900ms"}
      %p.g-description__top
        -if @event.try(:flag_top)
          =@event.flag_top.html_safe
        -else
          %span.g-strong
            =@event.try(:date)
          приглашаем представителей модных брендов
          %br 
            на бизнес-завтрак
            %span.g-strong«Fashion в digital».
      .g-img-wrapper.g-img-wrapper_description.g-description__img
        =image_tag 'landing/flag.svg', class: 'g-img-wrapper__pic'
        =image_tag 'landing/flag_bg.svg', class: 'g-img-wrapper__bg'
      %p.g-description__bottom
        -if @event.try(:flag_bottom)
          =@event.flag_bottom
        -else
          Поговорим о том, как выстроить
          %br/
          %nobr онлайн-продажи
          в этом сегменте.
  
  %section.g-section.g-pic-block
    .g-wrapper
      %p.g-pic-block__top.js-animation.js-animation_tablet.js-animation_fadeInDown{"data-animation-delay" => "300ms"}
        -if @event.try(:mesto_top)
          =@event.mesto_top.html_safe
        -else
          Мы хотим сделать наш
          %nobr бизнес-завтрак
          максимально полезным вам. Готовьте, пожалуйста, вопросы — их можно будет задать экспертам в онце мероприятия и обсудить в кулуарах).
      .g-pic-block__img-wrapper.js-animation.js-animation_tablet.js-animation_fadeInLeft{"data-animation-delay" => "300ms"}
        -if @event.try(:mesto_logo).present?
          =image_tag @event.mesto_logo, class: 'g-pic-block__img'
        -else
          =image_tag 'landing/pic.png', class: 'g-pic-block__img'
        
      %p.g-pic-block__bottom.js-animation.js-animation_tablet.js-animation_fadeInUp{"data-animation-delay" => "300ms"}
        -if @event.try(:mesto_bottom)
          =@event.mesto_bottom.html_safe
        -else
          За атмосферу мероприятия будет отвечать Dictatura Estetica Bar, культовое место на территории фабрики «Красный Октябрь», объединившее бар и бутиковое ателье по пошиву рубашек.

  %section.g-section.g-program
    .g-wrapper
      %h2.g-title.js-animation.js-animation_tablet.js-animation_fadeInDown
        %span.g-title__text
          Программа
          %br.g-mobile мероприятия
      -if @lectures
        =render partial: 'front/static_pages/home_sections/programma'
      

  
  %section.g-section.g-contact
    =render partial: 'front/static_pages/home_sections/contacts'

  %section.g-section.g-report
    =render partial: 'front/static_pages/home_sections/archives'
    
  %footer.g-footer
    .g-wrapper{style: 'text-align: center;'}
      %p.g-copy
        © 2017 Ядадья & Надежда
        %br Все права защищены.
    }
