.col-lg-6
  .ibox.float-e-margins
    .ibox-title
      %h5 New data for the report
      .ibox-tools
        %a.collapse-link
          %i.fa.fa-chevron-up
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %i.fa.fa-wrench
        %ul.dropdown-menu.dropdown-user
          %li
            %a{:href => "#"} Config option 1
          %li
            %a{:href => "#"} Config option 2
        %a.close-link
          %i.fa.fa-times
    .ibox-content.ibox-heading
      %h3
        Stock price up
        .stat-percent.text-navy
          34%
          %i.fa.fa-level-up
      %small
        %i.fa.fa-stack-exchange
        New economic data from the previous quarter.
    .ibox-content
      %div
        .pull-right.text-right
          %span.bar_dashboard 5,3,9,6,5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7,3,2,1,0,9,5,6,8,3,2,1
          %br/
          %small.font-bold $ 20 054.43
        %h4
          NYS report new data!
          %br/
          %small.m-r
            %a{:href => "graph_flot.html"} Check the stock price!
  .ibox.float-e-margins
    .ibox-title
      %h5 Read below comments and tweets
      .ibox-tools
        %a.collapse-link
          %i.fa.fa-chevron-up
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %i.fa.fa-wrench
        %ul.dropdown-menu.dropdown-user
          %li
            %a{:href => "#"} Config option 1
          %li
            %a{:href => "#"} Config option 2
        %a.close-link
          %i.fa.fa-times
    .ibox-content.no-padding
      %ul.list-group
        %li.list-group-item
          %p
            %a.text-info{:href => "#"} @Alan Marry
            I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          %small.block.text-muted
            %i.fa.fa-clock-o
            1 minuts ago
        %li.list-group-item
          %p
            %a.text-info{:href => "#"} @Stock Man
            Check this stock chart. This price is crazy!
          %small.block.text-muted
            %i.fa.fa-clock-o
            2 hours ago
        %li.list-group-item
          %p
            %a.text-info{:href => "#"} @Kevin Smith
            Lorem ipsum unknown printer took a galley
          %small.block.text-muted
            %i.fa.fa-clock-o
            2 minuts ago
        %li.list-group-item
          %p
            %a.text-info{:href => "#"} @Jonathan Febrick
            The standard chunk of Lorem Ipsum
          %small.block.text-muted
            %i.fa.fa-clock-o
            1 hour ago
.col-lg-6
  .ibox.float-e-margins
    .ibox-title
      %h5 Timeline
      %span.label.label-primary Meeting today
      .ibox-tools
        %a.collapse-link
          %i.fa.fa-chevron-up
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %i.fa.fa-wrench
        %ul.dropdown-menu.dropdown-user
          %li
            %a{:href => "#"} Config option 1
          %li
            %a{:href => "#"} Config option 2
        %a.close-link
          %i.fa.fa-times
    .ibox-content.inspinia-timeline
      .timeline-item
        .row
          .col-xs-3.date
            %i.fa.fa-briefcase
            6:00 am
            %br/
            %small.text-navy 2 hour ago
          .col-xs-7.content.no-top-border
            %p.m-b-xs
              %strong Meeting
            %p Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products.
      .timeline-item
        .row
          .col-xs-3.date
            %i.fa.fa-file-text
            7:00 am
            %br/
            %small.text-navy 3 hour ago
          .col-xs-7.content
            %p.m-b-xs
              %strong Send documents to Mike
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
      .timeline-item
        .row
          .col-xs-3.date
            %i.fa.fa-coffee
            8:00 am
            %br/
          .col-xs-7.content
            %p.m-b-xs
              %strong Coffee Break
            %p
              Go to shop and find some products.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
      .timeline-item
        .row
          .col-xs-3.date
            %i.fa.fa-phone
            11:00 am
            %br/
            %small.text-navy 21 hour ago
          .col-xs-7.content
            %p.m-b-xs
              %strong Phone with Jeronimo
            %p
              Lorem Ipsum has been the industry's standard dummy text ever since.
