#right-sidebar.animated
  .sidebar-container
    %ul.nav.nav-tabs.navs-3
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab-1"}
          %i.fa.fa-gear
    .tab-content
      #tab-1.tab-pane.active
        .sidebar-title
        
        .sidebar-content
          %h4 Settings
          .small
            I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
