.middle-box.text-center.loginscreen.animated.fadeInDown
  %div
    %div
      %h1.logo-name Y+
    %h3 Welcome to YCMS
    %p
      Система управления содержимым вашего сайта.
      / Continually expanded and constantly improved Inspinia Admin Them (IN+)
    %p Авторизуйтесь, что бы получить доступ.

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        =f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Username', required: ""
      .form-group
        =f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
      -if devise_mapping.rememberable?
        =f.check_box :remember_me
        =f.label :remember_me
      =f.submit 'Login', class: 'btn btn-primary block full-width m-b'

  / =render "devise/shared/links"
