%p{:style => "color: #0e2f22;  font-size: 20px; line-height: 30px; margin: 0;"} Добрый день!
%p{:style => "color: #0e2f22;font-weight: 300;font-size: 20px;line-height: 30px;margin: -1px auto 35px;"}
  Спасибо за регистрацию на наше мероприятие.
  В ближайшее время модератор проверит вашу заявку, и вам
  %a{:href => "#", :style => "color: #16d488; text-decoration: none;"} придет окончательное подтверждение.
