.g-wrapper
  .g-contact__wrapper
    -if @event == Event.most_recent
      =form_with(model: Request.new, format: 'js', html: { class: 'g-form g-contact__form', id: 'form' }, remote: true) do |f|
        %h2.g-title.g-mobile
          %span.g-title__text Регистрация
        .g-input
          =f.text_field :last_name, class: 'g-input__field js-input', placeholder: 'Фамилия', value: (current_user.last_name if current_user)
          .g-input__flag
            %svg.g-input__icon.g-input__icon_error
              %use{"xlink:href" => "#ic-input-error"}
            %svg.g-input__icon.g-input__icon_success
              %use{"xlink:href" => "#ic-input-success"}
        .g-input
          =f.text_field :first_name, class: 'g-input__field js-input', placeholder: 'Имя', value: (current_user.first_name if current_user)
          .g-input__flag
            %svg.g-input__icon.g-input__icon_error
              %use{"xlink:href" => "#ic-input-error"}
            %svg.g-input__icon.g-input__icon_success
              %use{"xlink:href" => "#ic-input-success"}

        .g-input
          =f.text_field :email, class: 'g-input__field js-input', placeholder: 'Email', value: (current_user.email if current_user)
          .g-input__flag
            %svg.g-input__icon.g-input__icon_error
              %use{"xlink:href" => "#ic-input-error"}
            %svg.g-input__icon.g-input__icon_success
              %use{"xlink:href" => "#ic-input-success"}
        .g-input
          =f.text_field :phone, class: 'g-input__field js-input js-input-phone', placeholder: 'Номер телефона', value: (current_user.phone if current_user)
          
          .g-input__flag
            %svg.g-input__icon.g-input__icon_error
              %use{"xlink:href" => "#ic-input-error"}
            %svg.g-input__icon.g-input__icon_success
              %use{"xlink:href" => "#ic-input-success"}
        
        =f.submit "Отправить", class: 'g-btn g-btn_submit'

