.g-wrapper
  %h2.g-title.js-animation.js-animation_fadeInDown
    %span.g-title__text на повестке
  %ul#points-slider.g-icons
    %li.g-icons__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "100ms"}
      .g-img-wrapper.g-img-wrapper_e-commerce.js-tilter
        -if @event.try(:povestka_1_logo).present?
          =image_tag @event.povestka_1_logo, class: 'g-img-wrapper__pic tilter__figure'
          =image_tag 'landing/points_1_bg.svg', class: 'g-img-wrapper__bg'
        -else
          =image_tag 'landing/points_1.svg', class: 'g-img-wrapper__pic tilter__figure'
          =image_tag 'landing/points_1_bg.svg', class: 'g-img-wrapper__bg'
      %p.g-icons__text
        -if @event.try(:povestka_1_text)
          =@event.povestka_1_text
        -else
          Что происходит на рынке, или глобальный взгляд на 
          %nobr e-commerce
          в fashion.

    %li.g-icons__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "300ms"}
      .g-img-wrapper.g-img-wrapper_settings.js-tilter
        -if @event.try(:povestka_2_logo).present?
          =image_tag @event.povestka_2_logo, class: 'g-img-wrapper__pic tilter__figure'
          =image_tag 'landing/points_2_bg.svg', class: 'g-img-wrapper__bg'
        -else
          =image_tag 'landing/points_2.svg', class: 'g-img-wrapper__pic tilter__figure'
          =image_tag 'landing/points_2_bg.svg', class: 'g-img-wrapper__bg'
      %p.g-icons__text
        -if @event.try(:povestka_2_text)
          =@event.povestka_2_text
        -else
          Тонкие настройки
          %nobr интернет-магазина
          под женскую аудиторию.

    %li.g-icons__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "500ms"}
      .g-img-wrapper.g-img-wrapper_social.js-tilter
        -if @event.try(:povestka_3_logo).present?
          =image_tag @event.povestka_3_logo, class: 'g-img-wrapper__pic tilter__figure'
          =image_tag 'landing/points_3_bg.svg', class: 'g-img-wrapper__bg'
        -else
          =image_tag 'landing/points_3.svg', class: 'g-img-wrapper__pic tilter__figure'
          =image_tag 'landing/points_3_bg.svg', class: 'g-img-wrapper__bg'
      %p.g-icons__text
        -if @event.try(:povestka_3_text)
          =@event.povestka_3_text
        -else
          Выстраивание продаж через Facebook, Instagram, ВКонтакте и мессенджеры.

    %li.g-icons__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "700ms"}
      .g-img-wrapper.g-img-wrapper_audience.js-tilter
        -if @event.try(:povestka_4_logo).present?
          =image_tag @event.povestka_4_logo, class: 'g-img-wrapper__pic tilter__figure'
          =image_tag 'landing/points_4_bg.svg', class: 'g-img-wrapper__bg'
        -else
          =image_tag 'landing/points_4.svg', class: 'g-img-wrapper__pic tilter__figure'
          =image_tag 'landing/points_4_bg.svg', class: 'g-img-wrapper__bg'
      %p.g-icons__text
        -if @event.try(:povestka_4_text)
          =@event.povestka_4_text
        -else
          Нюансы работы с российской и западной аудиторией.

    %li.g-icons__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "900ms"}
      .g-img-wrapper.g-img-wrapper_cases.js-tilter
        -if @event.try(:povestka_5_logo).present?
          =image_tag @event.povestka_5_logo, class: 'g-img-wrapper__pic tilter__figure'
          =image_tag 'landing/points_5_bg.svg', class: 'g-img-wrapper__bg'
        -else
          =image_tag 'landing/points_5.svg', class: 'g-img-wrapper__pic tilter__figure'
          =image_tag 'landing/points_5_bg.svg', class: 'g-img-wrapper__bg'
      %p.g-icons__text
        -if @event.try(:povestka_5_text)
          =@event.povestka_5_text
        -else 
          Успешные и провальные кейсы больших брендов.