!!!
%html{:lang => "ru"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Mail
  %body{:style => "margin: 0;"}
    :css
      .button{
        transition: background-color 250ms linear;
      }
      .button:hover{
        background-color: #164834;
      
      }

    %div{:style => "padding: 10px;background-color: #fff;"}
      %table{:border => "0", :cellspacing => "0", :style => "max-width: 640px; width: 100%; background-color: #edf5f2; font-family: 'Lato', Arial, sans-serif"}
        %thead
          %tr
            %td{:background => "https://image.ibb.co/n7Myyk/code.png", :style => "background-repeat: no-repeat; background-size: cover; background-position: center; padding-top: 62px; padding-bottom: 71px;"} 
              %img{:src => "https://image.ibb.co/jJFQvm/crazy_in_love.png", :style => "display: block;margin: 0 auto;max-width: 137px;width: 60%;margin-bottom: 12px;"}/
              %img{:src => "https://image.ibb.co/jAm9MR/wedding_day.png", :style => "display: block;margin: 0 auto;max-width: 289px;width: 90%;"}/
        %tbody
          %tr
            %td{:style => "text-align: center;padding-bottom: 68px;"}
              %div{:style => "margin: 40px auto 24px; width: 96px; line-height: 96px; height: 96px; background-color: #fff; border-radius: 50%; font-size: 0;"}
                %img{:src => "https://image.ibb.co/i6vrJk/icon.png", :style => "display: inline-block; vertical-align: middle; width: 56px;height: auto;"}/
              =yield
        %tfoot
          %tr
            %td{:style => "padding: 0 40px;text-align: center;font-size: 0;padding-bottom: 37px;"}
              %p{:style => "border-top: 1px solid #d9e7e2;text-align: center;font-weight: 300;font-size: 16px;line-height: 24px;margin: 0;padding-top: 38px;padding-bottom: 10px;"}
                © 2017 Ядадья & Надежда. Все права защищены.


                