!!!
%html{:lang => "ru"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Mail
  %body{:style => "margin: 0;"}
    :css
      .button{
        transition: background-color 250ms linear;
      }
      .button:hover{
        background-color: #164834;
      
      }

    %div{:style => "padding: 10px;background-color: #fff;"}
      %table{:border => "0", :cellspacing => "0", :style => "max-width: 640px; width: 100%; background-color: #edf5f2; font-family: 'Lato', Arial, sans-serif"}
        %thead
          %tr
            %td{:background => "https://image.ibb.co/n7Myyk/code.png", :style => "background-repeat: no-repeat; background-size: cover; background-position: center; padding-top: 62px; padding-bottom: 71px;"}
              %img{:src => "https://image.ibb.co/gvp7r5/top_text.png", :style => "display: block;margin: 0 auto;max-width: 137px;width: 60%;margin-bottom: 12px;"}/
              %img{:src => "https://image.ibb.co/komyyk/title.png", :style => "display: block;margin: 0 auto;max-width: 289px;width: 90%;"}/
        %tbody
          %tr
            %td{:style => "text-align: center;padding-bottom: 68px;"}
              %div{:style => "margin: 40px auto 24px; width: 96px; line-height: 96px; height: 96px; background-color: #fff; border-radius: 50%; font-size: 0;"}
                %img{:src => "https://image.ibb.co/i6vrJk/icon.png", :style => "display: inline-block; vertical-align: middle; width: 56px;height: auto;"}/
              =yield
              / %a{:href => "#", class: 'button', :style => "display: inline-block; text-decoration: none; width: 230px; height: 60px; background-color: #16d287; border-radius: 30px; line-height: 60px;"}
              / %img{:src => "#{asset_path 'landing/mailers/buy.png'}", :style => "display: inline-block; vertical-align: middle;"}/
              %p{:style => "color: #0e2f22;  font-size: 20px; line-height: 30px; margin: 0;"} 
                Если у вас возникнут вопросы, звоните: +7 (977) 256-23-86 или пишите:
                %a{href: 'mailto:inga@fbr.agency'} inga@fbr.agency.
                %a{href: 'https://www.facebook.com/inga.tsokhonis'}Инга Цохонис.
        %tfoot
          %tr
            %td{:style => "padding: 0 40px;text-align: center;font-size: 0;padding-bottom: 37px;"}
              %p{:style => "border-top: 1px solid #d9e7e2;text-align: center;font-weight: 300;font-size: 16px;line-height: 24px;margin: 0;padding-top: 38px;padding-bottom: 10px;"}
                © 2013 - 2017 Интернет-агентство Я.Creations. Все права защищены.
              %a{:href => "https://www.instagram.com/yadadya_creations/", :style => "display: inline-block;padding: 10px;"}
                %img{:src => "https://image.ibb.co/cKTp4Q/inst_social.png"}/
              %a{:href => "https://www.facebook.com/yadadyacreations/", :style => "display: inline-block;padding: 10px;"}
                %img{:src => "https://image.ibb.co/cmH5dk/fb_social.png"}/
              %a{:href => "http://yadadya.com/", :style => "display: inline-block;padding: 10px;"}
                %img{:src => "https://image.ibb.co/faGyyk/yadadya_social.png"}/
